@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #ec3b37;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.css-container {
  max-width: 632px;
  margin: 0 auto;
  margin-top: 60px;
  color: #fff !important;
}
.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 15.3rem;
  outline: none;
}
.text-lg {
  font-size: 11px;
  line-height: 1.75rem;
  text-transform: uppercase;
}
.heading_txt {
  font-size: 14px;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #040202;
}
.up_font {
  font-size: 11px;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #929292;
  margin-bottom: -11px;
}
.down_font {
  font-size: 15px;
  line-height: 1.75rem;
  color: #040202;
  font-weight: 600;
}
.col_icon {
  color: #cfcfcf;
  font-size: 28px;
  margin-right: 16px;
}
.col_icon_Doll {
  color: #cfcfcf;
  font-size: 20px;
  margin-right: 3px;
  /* margin-top: 16px; */
  margin-left: 10px;
}
.parent_wrap {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
  margin-top: -17px;
}
.wrap_con {
  display: flex;
  flex-direction: column;
}
.mainWrap_con {
  margin: 56px;
}

.up_front_heading {
  font-size: 32px;
  line-height: 2.95rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}
.up_front_heading_ctsm {
  font-size: 25px;
  line-height: 2.95rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}
.up_front_text {
  margin-bottom: 30px;
}
.field_title {
  font-size: 23px;
  font-weight: 600;
  color: #2a2c2b;
}
.mb_Bottom {
  margin-bottom: 73px;
}
.shadow_bod {
  border-color: #a8acaa;
  color: #535755;
  background: none;
}
.customLevel {
  display: flex;
  flex-direction: column;
}
.container_level {
  display: flex;
}
.field_con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}
.border-animation {
  border: 1px solid #d4d6d5;
  overflow: hidden;
}

.border-animation::before {
  box-sizing: border-box;
  transform: translateX(100%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 4px;
}
.border-animation::after {
  box-sizing: border-box;
  transform: translateX(-100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 4px;
}

.border-animation.is-focus:after {
  transition: 0.1s transform linear 0.2s, 0.1s height linear 0.3s;
  transform: translateX(0);
  height: 100%;
  border-color: #304ff8;
}
.border-animation.is-focus:before {
  transition: 0.1s transform linear, 0.1s height linear 0.1s;
  transform: translateX(0);
  height: 100%;
  border-color: #304ff8;
}
.border-animation.is-focus {
  border: none;
}
.border-animation.is-focus .label-text {
  top: 8px !important;
  color: #304ff8;
}

.radiobtn .checkimage {
  display: none;
}
.radiobtn input:checked ~ .uncheckimage {
  display: none;
}
.radiobtn input:checked ~ .checkimage {
  display: block;
}
